:root{
  --primary: #103DB7;
  --secondary: #4C884C;
  --surface: #F7F8FF;
  --surface-container: #ECF1F5;
  --neutral: #282828;
  --neutral80: rgba(40,40,40,0.8);

  --heading-font: 'Poppins';
  --body-font: 'DM Sans';

  --heading1: 56px;
  --heading2: 48px;

  --title1: 40px;
  --title2: 24px;

  --body18: 18px;
  --body16: 16px;
  --body12: 12px;

  --padding320: 32px 16px;
  --padding425: 32px 24px;
  --padding768: 48px;
  --padding1024: 48px 72px;
  --padding1440: 64px 88px;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}
body{
  background-color: var(--surface);
}
a{
  text-decoration: none;
}
h2{
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--neutral);
  font-size: var(--body18);
}
h3{
  font-size: var(--body16);
  color: var(--neutral);
}
h4{
  font-size: var(--body18);
  color: var(--neutral);
}
h5{
  font-size: var(--body16);
  color: var(--neutral);
}
@media screen and (min-width: 425px) {
  h2{
    font-size: var(--title2);
  }
}
@media screen and (min-width: 768px) {
  h3{
    font-size: var(--title2);
  }
  h4{
    font-size: var(--body18);
  }
  h5{
    font-size: var(--body18);
  }
}

@media screen and (min-width: 1024px) {
  h2{
    font-size: var(--title1);
  }
  h4{
    font-size: var(--title2);
  }
}