@keyframes fade-up {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  50%{
    opacity: 0;
    transform: translateY(40px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.features-page{
  padding: var(--padding320);
}

/* FEATURES-SECTION STYLING */
.feature-row{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 48px 0;
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
}
.feature-text h5{
  color: var(--primary);
  display: flex;
  gap: 8px;
}
.feature-text p{
  color: var(--neutral70);
}
.feature-row img{
  width: 80%;
}
#quote{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  p{
    &:nth-child(1){
      font-size: var(--body16);
      font-weight: 400;
    }
    &:nth-child(2){
      font-size: var(--body18);
      font-weight: 600;
      margin-top: -8px;
    }
  }
  .outlineButton{
    border: 2px solid var(--secondary);
    color: var(--secondary);
  }

}


@media screen and (min-width: 425px){
  .features-page{
    padding: var(--padding425);
  }
}

@media screen and (min-width: 768px){
  .features-page{
    padding: var(--padding768);
  }
  .feature-row{
    flex-direction: row;
    max-width: 100%;
    gap: 48px;
    justify-content: space-evenly;

    img{
      width: 40%;
      max-width: 450px;
    }
    p{
      font-size: var(--body18);
      color: var(--neutral80);
    }
    .feature-text{
      max-width: 480px;
    }
  }
  #quote{
  margin-top: 48px;
    p{
      &:nth-child(1){
        font-size: var(--title2);
        font-weight: 400;
      }
      &:nth-child(2){
        font-size: var(--title1);
        font-weight: 600;
        margin-top: -8px;
      }
    }
    .outlineButton{
      border: 2px solid var(--secondary);
      color: var(--secondary);
    }
  
  }
}

@media screen and (min-width: 1024px){
  .features-page{
    padding: var(--padding1024);
  }
  .feature-row{
    max-width: 1744px;
    p{
      font-size: var(--title2);
      color: var(--neutral80);
    }
  }
}

@media screen and (min-width: 1440px){
  .features-page{
    padding: var(--padding1440);
  }
}
